[global_tags]

# Configuration for telegraf agent
[agent]
	interval = "15s"
	flush_interval = "30s"
	hostname = ""

###############################################################################
#                                  OUTPUTS                                    #
###############################################################################

[[outputs.influxdb]]
  #ADD URL FOR INFLUXDB ex. http://192.168.1.20:8086
  database = "{{ influxdb_database }}"
  urls = [ "{{ influxdb_host }}" ]
  username = "{{ influxdb_username }}"
  password = "{{ influxdb_password }}"

###############################################################################
#                                  INPUTS                                     #
###############################################################################

[[inputs.cpu]]
    percpu = true
    totalcpu = true
    collect_cpu_time = false
    report_active = false
[[inputs.disk]]
    ignore_fs = ["tmpfs", "devtmpfs", "devfs"]
[[inputs.io]]
[[inputs.mem]]
[[inputs.net]]
[[inputs.system]]
[[inputs.swap]]
[[inputs.netstat]]
[[inputs.processes]]
[[inputs.kernel]]